</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/mustache.js/2.2.1/mustache.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
<script src="/socketcluster.min.js"></script>
<script src="/master.js"></script>
<script src="/home.js"></script>
<script id="result-template" type="x-tmpl-mustache">
<p>Found {{hits.total}} posts in {{took}} milliseconds.</p>
{{#hits.hits}}
<div class="panel panel-default">
    <div class="panel-heading">
        <img src="https://cdn2.scratch.mit.edu/get_image/user/{{_source.authorID}}_16x16.png?v={{getCachebuster}}" width=16 height=16>
        <strong><a href="https://scratch.mit.edu/users/{{_source.author}}/">{{_source.author}}</a></strong>
        wrote on <a href="https://scratch.mit.edu/discuss/topic/{{_source.topicID}}/">{{_source.topic}}</a>
        <div class="pull-right"><time datetime="{{_source.time}}">{{formatTime}}</time></div>
    </div>
    <ul class="list-group">
        {{#_source.revisions}}
        <li class="list-group-item">
            <h4>Revision by {{author}} on <time datetime="{{time}}">{{formatEditTime}}</time></h3>
            {{{html}}}
        {{/_source.revisions}}
    </ul>
</div>
{{/hits.hits}}
</script>

</body>
</html>
